body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #140e17;
  color: #fff;
}

*,
*::before *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1040px;
  margin: 80px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container--header {
  margin-top: 60px;
}

.container--fotter {
  margin-top: 0;
}

.header__wrap {
  display: flex;
  border-radius: 32px;
  border: 1px solid #000;
  background: #333;
  padding: 18px 24px;
  gap: 40px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.logo {
  height: 40px;
}

.logo img {
  width: 191px;
  height: 40px;
}

.menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 24px;
}

.menu__item--user {
  display: none;
}

.menu__link {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.menu__link:hover,
.menu__link :focus {
  color: #f5fa93;
}

.user {
  /* width: 56px;
  height: 40px; */
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.user:hover,
.user:focus {
  opacity: 0.7;
}

.user img {
  width: 56px;
  height: 40px;
}

.menu__button {
  display: none;
}

.slogan {
  display: flex;
  flex-direction: column;
}

.slogan__wrapper {
  display: flex;
  justify-content: space-between;
}

.slogan__wrap {
  width: 539px;
}

.slogan__title {
  padding: 0;
  margin: 0;
  font-size: 68px;
  font-weight: 800;
  line-height: 110%;
  position: relative;
}

.slogan__svg {
  position: absolute;
}

.slogan__svg--top {
  width: 114px;
  height: 64px;
  right: 10px;
  top: -10px;
}

.slogan__svg--botom {
  width: 218px;
  height: 26px;
  left: 60px;
  bottom: -30px;
}

.slogan__text {
  font-size: 24px;
  line-height: 117%;
  margin-top: 46px;
  margin-bottom: 64px;
}

.slogan__img {
  position: relative;
  width: 412px;
}

.slogan__icon {
  position: absolute;
  width: 39px;
  height: 39px;
  top: -3px;
  right: 44px;
}

.slogan__mail {
  display: flex;
  gap: 24px;
}

.slogan__input {
  box-sizing: border-box;
  border: none;
  width: 317px;
  padding: 18px 14px;
  border-radius: 18px;
  background: #fff;
  font-size: 18px;
  line-height: 110%;
}

.slogan__input::placeholder {
  color: #76757b;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.slogan__input:focus-visible {
  outline: none;
}

.button__wrap {
  width: 222px;
  border-radius: 18px;
  background: #f5fa93;
  display: flex;
  padding: 18px 14px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
  box-sizing: border-box;
}

.button {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.button__wrap:hover a,
.button__wrap:hover img {
  opacity: 0.7;
}

.slogan__link {
  color: #000;
  width: 100%;
  height: 100%;
}

.button__wrap img {
  height: 24px;
  width: 24px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.features__item {
  border-radius: 32px;
  border: 1px solid #f5fa93;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 25%;
}

.features__item img {
  width: 68px;
  height: 74px;
}

.features__item--center img {
  align-self: center;
  width: 79px;
  height: 75px;
}

.features__item--right img {
  align-self: flex-end;
  width: 64px;
  height: 69px;
}

.features__subtitle {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 130%;
}

.features__text {
  margin: 0;
  font-size: 18px;
  line-height: 145%;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.work__wrap {
  display: flex;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}

.author {
  width: 658px;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  border: 2px solid #333;
  background: #140e17;
  padding: 29px 72px;
  gap: 79px;
  box-sizing: border-box;
}

.author__img {
  width: 182px;
  height: 176px;
}

.work__user {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
}

.author__name {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 10px;
  font-size: 31px;
  font-weight: 800;
  line-height: 110%;
}

.author__text {
  margin: 0;
  margin-bottom: 27px;
  font-size: 11px;
  line-height: 13px;
  width: 245px;
}

.button__wrap--mini {
  width: 105px;
  border-radius: 8px;
  background: #f9d69e;
  display: flex;
  padding: 8px 6px;
  padding-left: 25px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
  box-sizing: border-box;
}

.button__wrap--mini:hover a,
.button__wrap--mini:hover img {
  opacity: 0.7;
}

.author__link {
  font-size: 8px;
  font-weight: 600;
  color: #000;
}

.button__wrap--mini img {
  width: 11px;
  height: 11px;
}

.experience {
  border-radius: 24px;
  border: 1px solid #333;
  width: 509px;
  align-self: flex-end;
  padding: 18px;
}

.experience__title {
  color: #aadb6b;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-transform: lowercase;
  margin: 0;
  margin-bottom: 24px;
}

.experience__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.experience__item p {
  margin: 0;
}

.experience__subtitle {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}

.experience__item span {
  color: #76757b;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

.experience__company {
  display: block;
  color: #76757b;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  text-decoration-line: underline;
  margin-bottom: 6px;
}

.portfolio {
  width: 220px;
  padding: 21px;
  border-radius: 21px;
  background: #ffafb0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.portfolio__wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #000;
}

.portfolio__subtitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 128%;
  margin: 0;
}

.portfolio__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 145%;
  margin: 0;
}

.button__wrap--portfolio {
  border-radius: 12px;
  border: 1px solid #333;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  width: 118px;
  align-self: flex-end;
  padding: 12px 9px;
}

.button__wrap--portfolio img {
  width: 15px;
  height: 15px;
}

.portfolio__link {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

.work__slogan {
  border-radius: 32px;
  border: 1px solid #333;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.work__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}

.work__link {
  width: 217px;
  padding: 18px 14px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  background-color: inherit;
  border-radius: 18px;
  border: 1px solid #333;
  align-self: flex-end;
  transition: 0.5s;
}

.work__link:hover {
  opacity: 0.7;
}

.price__title {
  color: #f5fa93;
  font-size: 24px;
  font-weight: 600;
  line-height: 108%;
  text-transform: lowercase;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

.price__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  box-sizing: border-box;
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 32px;
  background: #f5fa93;
  color: #000;
  gap: 18px;
  min-height: 448px;
}

.card--vip {
  position: relative;
}

.card p {
  margin: 0;
}

.card__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 108%;
}

.card__title {
  font-size: 68px;
  font-weight: 800;
  line-height: 110%;
}

.card__title span {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.card__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 141%;
}

.card__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  font-weight: 600;
  line-height: 141%;
}

.card__wrapper img {
  width: 24px;
  height: 24px;
}

.card__button {
  width: 200px;
  align-self: flex-start;
  margin-top: auto;
  border-radius: 18px;
  border: 1px solid #333;
  background: #000;
  color: #fff;
  padding: 18px 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.card__button:hover {
  opacity: 0.8;
}

.card__aside {
  border-radius: 18px;
  border: 1px solid #333;
  background: #000;
  width: 150px;
  padding: 13px 14px;
  position: absolute;
  box-sizing: border-box;
  top: -30px;
  right: 30px;
}

.card__aside p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.faq__title {
  color: #f5fa93;
  font-size: 24px;
  font-weight: 600;
  line-height: 108%;
  margin: 0;
  margin-bottom: 27px;
  padding: 0 24px;
  text-transform: uppercase;
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq__button {
  cursor: pointer;
  transition: 0.5s;
  list-style: none;
  position: relative;
  padding: 24px;
  border-radius: 32px;
  border: 1px solid #333;
}

.faq__button::after {
  content: '';
  background-image: url(img/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 25px;
}

details[open] .faq__button::after {
  background-image: url(img/minus-icon.svg);
}

.faq__button:hover {
  opacity: 0.7;
}

.faq__button p {
  font-size: 24px;
  font-weight: 500;
  line-height: 116%;
  margin: 0;
  margin-right: 40px;
}

.faq__text {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq__text p {
  margin: 0;
  color: #76757b;
  font-size: 18px;
  font-weight: 500;
  line-height: 144%;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 23px;
}

.footer__wrapper {
  flex-basis: 23%;
  display: flex;
  flex-direction: column;
}

.footer__wrapper--social {
  gap: 40px;
}

.footer__wrapper--social a {
  transition: 0.5s;
}

.footer__wrapper--social a:hover {
  opacity: 0.5;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: 0.5s;
}

.footer__item:hover {
  opacity: 0.7;
}

.message__wrap {
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.message__button {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  border: 1px solid #333;
  background: #f5fa93;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.message__button img {
  width: 24px;
  height: 24px;
}

@media (max-width: 999px) {
  .header__wrap--tablet {
    flex-direction: column-reverse;
    gap: 54px;
    border: none;
  }

  .header__wrap--tablet .logo,
  .header__wrap--tablet .user {
    display: none;
  }

  .menu__wrap {
    display: none;
  }

  .header__wrap--tablet .menu__wrap {
    display: block;
  }

  .menu {
    width: 100%;
  }

  .menu__list {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    border: none;
  }

  .menu__item {
    padding: 24px;
    border-bottom: 1px solid #76757b;
  }

  .menu__item:last-child {
    border: none;
  }

  .menu__item--user {
    display: inline-block;
    position: relative;
  }

  .menu__item--user::after {
    content: '';
    position: absolute;
    background-image: url(/img/user-icon.svg);
    width: 56px;
    height: 40px;
    right: 0;
    top: 19px;
  }

  .menu__link {
    font-size: 24px;
    line-height: 28px;
  }

  .menu__button {
    display: block;
    width: 56px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background: #76757b;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
  }

  .header__wrap--tablet .menu__button {
    margin-left: auto;
  }

  .menu__button::after,
  .menu__button::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .menu__button::before {
    top: 16px;
  }

  .menu__button::after {
    top: 24px;
  }

  .header__wrap--tablet .menu__button::before {
    transform: rotate(45deg);
    top: 20px;
    left: 20px;
  }

  .header__wrap--tablet .menu__button::after {
    transform: rotate(-45deg);
    top: 20px;
    left: 20px;
  }

  .menu__button:hover,
  .menu__button:focus {
    opacity: 0.5;
  }

  .slogan {
    position: relative;
  }

  .slogan__img {
    opacity: 0.2;
    position: absolute;
    right: 0;
  }

  .features__item {
    width: 100%;
    gap: 24px;
  }

  .work__wrap {
    padding-left: 36px;
    padding-right: 36px;
    justify-content: space-between;
  }

  .author {
    width: 473px;
    border-radius: 18px;
    gap: 50px;
    padding: 20px 25px;
  }

  .author__img {
    width: 131px;
    height: 131px;
  }

  .experience {
    border-radius: 32px;
    width: 344px;
    align-self: flex-end;
    padding: 18px;
  }

  .footer__wrapper {
    flex-basis: 48%;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .slogan__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 128%;
  }

  .slogan__svg--top {
    width: 34px;
    height: 30px;
    right: 40px;
    top: 0px;
  }

  .slogan__svg--botom {
    width: 101px;
    height: 21px;
    left: 0px;
  }

  .slogan__img {
    width: 254px;
  }

  .slogan__mail {
    flex-wrap: wrap;
  }

  .slogan__input {
    width: 100%;
  }

  .work__wrap {
    padding-left: 16px;
    padding-right: 16px;
    gap: 45px;
  }

  .author {
    width: 250px;
    padding: 12px 10px;
    gap: 20px;
  }

  .author__img {
    width: 62px;
    height: 62px;
  }

  .author__name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 110%;
  }

  .author__text {
    margin-bottom: 10px;
    font-size: 4px;
    line-height: 5px;
    width: 80%;
  }

  .button__wrap--mini {
    width: 70px;
    border-radius: 18px;
    padding: 3px;
    padding-left: 10px;
  }

  .author__link {
    font-size: 8px;
    font-weight: 600;
    color: #000;
  }

  .button__wrap--mini img {
    width: 11px;
    height: 11px;
  }

  .experience {
    border-radius: 8px;
    width: 55%;
    padding: 6px;
  }

  .experience__title {
    font-size: 10px;
    font-weight: 600;
    line-height: 108%;

    margin-bottom: 8px;
  }

  .experience__list {
    gap: 7px;
  }

  .experience__item p {
    font-size: 7px;
  }

  .experience__subtitle {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
  }

  .experience__item span {
    font-size: 10px;
    line-height: 115%;
  }

  .experience__company {
    font-size: 10px;
    line-height: 115%;
  }

  .portfolio {
    width: 35%;
    padding: 7px;
    border-radius: 7px;
    background: #ffafb0;
    gap: 16px;
  }

  .portfolio__subtitle {
    font-size: 14px;
  }

  .portfolio__text {
    font-size: 7px;
  }

  .button__wrap--portfolio {
    border-radius: 8px;
    width: 70%;
    padding: 6px 4px;
  }

  .portfolio__link {
    font-size: 6px;
  }

  .price__wrap {
    gap: 30px;
  }

  .card {
    flex-basis: 100%;
  }

  .footer__wrapper {
    flex-basis: 100%;
  }
}
